/* navbar links margin and text bold */
.bold {
    margin-left: 30px;
    font-weight: 500;
}

/* top banner h1 text color */
.text {
    color: #363958;
}

/* modify woman and man jacket area */
.wm-card {
    border: 0;
}

.wm-card-footer {
    background-color: white;
    border: 0;
}

